<div class="page__footer">
  <footer class="footer">
    <div class="footer-social">
      <a class="footer-social__item" href="#">Facebook</a>
      <a class="footer-social__item" href="#">Instagram</a>
      <a class="footer-social__item" href="#">Pinterest</a>
      <a class="footer-social__item" href="#">Twitter</a>
    </div>
  </footer>
</div>
