  <!--[if lt IE 8]>
  <p class="browsehappy">Вы используете<strong>устаревший</strong> браузер. Пожалуйста<a href="http://browsehappy.com" target="_blank">обновите браузер</a> для лучшего отображения сайта.</p><![endif]-->
    <%= render partial: 'shared/menu' %>
    <div class="page__content">
      <div class="page__wrapper">
        <%= render partial: 'shared/header' %>
      <div class="page__main">
        <section class="section">
          <div class="top-image">
            <img src="images/content/top-image/1.jpg" alt="top-image">
            <div class="top-image__mask">
            </div>
          </div>
        </section>
        <section class="section">
          <div class="about-section">
            <img class="about-section__image" src="images/content/about-section/1.jpg" alt="about-image">
            <div class="about-section__button">
              <a class="button button_style_ghost button_color_white button_style_wide" href="#">Узнать о нас</a>
            </div>
          </div>
        </section>
        <section class="section">
          <div class="fixed-bg-section fixed-bg-section_big"></div>
        </section>
        <section class="section">
          <div class="photographers-section">
            <a class="videograph-section__link" href="#"></a>
            <div class="photographers-section__blackout">
              <span class="vertical-helper"></span>
              <h2 class="photographers-section__title">Фотографы</h2>
            </div>
            <div class="photographers-section__item">
              <a class="photographers-section__mask" href="#"></a>
              <img class="photographers-section__image" src="images/content/photographers/1.jpg" alt="photo">
            </div>
            <div class="photographers-section__item">
              <a class="photographers-section__mask" href="#"></a>
              <img class="photographers-section__image" src="images/content/photographers/2.jpg" alt="photo">
            </div>
            <div class="photographers-section__item">
              <a class="photographers-section__mask" href="#"></a>
              <img class="photographers-section__image" src="images/content/photographers/3.jpg" alt="photo">
            </div>
            <div class="photographers-section__item">
              <a class="photographers-section__mask" href="#"></a>
              <img class="photographers-section__image" src="images/content/photographers/4.jpg" alt="photo">
            </div>
            <div class="photographers-section__item">
              <a class="photographers-section__mask" href="#"></a>
              <img class="photographers-section__image" src="images/content/photographers/5.jpg" alt="photo">
            </div>
          </div>
        </section>
        <section class="section">
          <div class="fixed-bg-section fixed-bg-section_small"></div>
        </section>
        <section class="section">
          <div class="videograph-section">
            <a class="videograph-section__link" href="#"></a>
            <div class="videograph-section__blackout">
              <span class="vertical-helper"></span>
              <h2 class="photographers-section__title">Видеографы</h2>
            </div>
            <div class="videograph-section__item">
              <a class="videograph-section__mask" href="#">
                <span class="vertical-helper"></span>
                <span class="videograph-section__text">
                  <span class="videograph-section__name">Евгений Заточкин</span>
                  <span class="videograph-section__pos">Видеограф</span>
                </span>
              </a>
              <img class="videograph-section__image" src="images/content/videographs/1.jpg" alt="photo">
            </div>
            <div class="videograph-section__item">
              <a class="videograph-section__mask" href="#">
                <span class="vertical-helper"></span>
                <span class="videograph-section__text">
                  <span class="videograph-section__name">Евгений Заточкин</span>
                  <span class="videograph-section__pos">Видеограф</span>
                </span>
              </a>
              <img class="videograph-section__image" src="images/content/videographs/2.jpg" alt="photo">
            </div>
            <div class="videograph-section__item">
              <a class="videograph-section__mask" href="#">
                <span class="vertical-helper"></span>
                <span class="videograph-section__text">
                  <span class="videograph-section__name">Евгений Заточкин</span>
                  <span class="videograph-section__pos">Видеограф</span>
                </span>
              </a>
              <img class="videograph-section__image" src="images/content/videographs/3.jpg" alt="photo">
            </div>
          </div>
        </section>
      </div>
      <div class="page__buffer"></div>
    </div>
    <div class="page__cover"></div>
    <%= render partial: 'shared/footer' %>
  </div>
