    <%= render partial: 'shared/menu' %>
    <div class="page__content">
      <div class="page__wrapper">
        <%= render partial: 'shared/header' %>
        <div class="page__main">
          <section class="section">
            <div class="top-image">
              <img src="images/content/about-section/1.jpg" alt="top-image">
              <div class="top-image__mask">
              </div>
            </div>
          </section>
          <section class="section section_light-gray">
            <div class="section__inner">
              <div class="about-info">
                <div class="about-info__left">
                  <div class="about-info__title">
                    <h2 class="page-headline">Свадебное фото и видео</h2>
                  </div>
                  <div class="about-info__slogan">Лучшие в Бишкеке</div>
                  <div class="about-info__text">
                    <p>
                      <span>Guru Wedding </span>— видео-фото мастерская европейского уровня.
                      <br>За 10 лет работы на свадебном рынке мы сняли более 1000 свадеб и попали в рейтинг ТОП-3 лучших студий.
                      <br>Коллектив собран из лучших мастеров своего ремесла.</p>
                    <p>Нам крайне важно оставить Вам не просто фотографии, а яркие эмоции и лучшие воспоминания. вся наша команда профессионалов работает только для Вас.</p>
                  </div>
                </div>
                <div class="about-info__right">
                  <div class="about-info__title">
                    <h2 class="page-headline">Достижения</h2>
                  </div>
                  <div class="about-info__text">
                    <ul>
                      <li class="about-info__section">
                        <ul>
                          <li class="about-info__item">2015</li>
                          <li class="about-info__item">BLOW UP #2 : Nominee</li>
                          <li class="about-info__item">PX3 : Gold</li>
                        </ul>
                      </li>
                      <li class="about-info__section">
                        <ul>
                          <li class="about-info__item">2014</li>
                          <li class="about-info__item">Photography Masters Cup : Nominee</li>
                          <li class="about-info__item">Shot up North : Top 50 Images (2)</li>
                          <li class="about-info__item">Portrait Salon : Final Selection </li>
                          <li class="about-info__item">IPA : Honorable Mention (3)</li>
                          <li class="about-info__item">ONE EYELAND : Finalist</li>
                        </ul>
                      </li>
                      <li class="about-info__section">
                        <ul>
                          <li class="about-info__item">2013</li>
                          <li class="about-info__item">LICC : Honorable Mention</li>
                          <li class="about-info__item">ONE EYELAND : Silver</li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </section>
        </div>
        <div class="page__buffer"></div>
      </div>
      <div class="page__cover"></div>
      <%= render partial: 'shared/footer' %>
    </div>
