    <%= render partial: 'shared/menu' %>
    <div class="page__content">
      <div class="page__wrapper">
        <%= render partial: 'shared/header' %>
        <div class="page__main">
          <section class="section">
            <div class="top-image">
              <img src="images/content/top-image/2.jpg" alt="top-image">
              <div class="top-image__mask">
              </div>
            </div>
          </section>
          <section class="section">
            <div class="section__inner">
              <div class="contacts-list">
                <h2 class="contacts-list__title">Фотографы</h2>
                <ul>
                  <li class="contacts-list__item">
                    <h3 class="contacts-list__name">Кашимир Заславский</h3>
                    <div class="contacts-list__phone">Телефон: +996 550 375 679</div>
                    <div class="contacts-list__email">
                      <a href="#">Email: kashimir_guruwed@gmail.com</a>
                    </div>
                  </li>
                  <li class="contacts-list__item">
                    <h3 class="contacts-list__name">Наталья Поклонская</h3>
                    <div class="contacts-list__phone">Телефон: +996 550 375 679</div>
                    <div class="contacts-list__email">
                      <a href="#">Email: kashimir_guruwed@gmail.com</a>
                    </div>
                  </li>
                  <li class="contacts-list__item">
                    <h3 class="contacts-list__name">Алихандро Совьеро</h3>
                    <div class="contacts-list__phone">Телефон: +996 550 375 679</div>
                    <div class="contacts-list__email">
                      <a href="#">Email: kashimir_guruwed@gmail.com</a>
                    </div>
                  </li>
                  <li class="contacts-list__item">
                    <h3 class="contacts-list__name">Жузеппе Лобовски</h3>
                    <div class="contacts-list__phone">Телефон: +996 550 375 679</div>
                    <div class="contacts-list__email">
                      <a href="#">Email: kashimir_guruwed@gmail.com</a>
                    </div>
                  </li>
                  <li class="contacts-list__item">
                    <h3 class="contacts-list__name">Джон Ноксвиль</h3>
                    <div class="contacts-list__phone">Телефон: +996 550 375 679</div>
                    <div class="contacts-list__email">
                      <a href="#">Email: kashimir_guruwed@gmail.com</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </section>
          <section class="section section_black">
            <div class="section__inner">
              <div class="contacts-list contacts-list_black">
                <h2 class="contacts-list__title">Видеографы</h2>
                <ul>
                  <li class="contacts-list__item">
                    <h3 class="contacts-list__name">Кит Флинтов</h3>
                    <div class="contacts-list__phone">Телефон: +996 550 375 679</div>
                    <div class="contacts-list__email">
                      <a href="#">Email: kashimir_guruwed@gmail.com</a>
                    </div>
                  </li>
                  <li class="contacts-list__item">
                    <h3 class="contacts-list__name">Максим Реальный</h3>
                    <div class="contacts-list__phone">Телефон: +996 550 375 679</div>
                    <div class="contacts-list__email">
                      <a href="#">Email: kashimir_guruwed@gmail.com</a>
                    </div>
                  </li>
                  <li class="contacts-list__item">
                    <h3 class="contacts-list__name">Лиам Холлетов</h3>
                    <div class="contacts-list__phone">Телефон: +996 550 375 679</div>
                    <div class="contacts-list__email">
                      <a href="#">Email: kashimir_guruwed@gmail.com</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </section>
        </div>
        <div class="page__buffer"></div>
      </div>
      <div class="page__cover"></div>
      <%= render partial: 'shared/footer' %>
    </div>
