    <%= render partial: 'shared/menu' %>
    <div class="page__content">
      <div class="page__wrapper">
        <%= render partial: 'shared/header' %>
        <div class="page__main">
          <section class="section">
            <div class="top-image">
              <img src="images/content/top-image/3.jpg" alt="top-image">
              <div class="top-image__mask">
                <span class="vertical-helper"></span>
                <h1 class="top-image__title">Фотографы</h1>
              </div>
            </div>
            <div class="people-list people-list_image_left">
              <div class="people-list__col people-list__col_left">
                <img class="people-list__photo" src="images/content/people-list/1.jpg">
              </div>
              <div class="people-list__col">
                <div class="people-list__wrapper">
                  <h2 class="people-list__name">Кашимир Заславский</h2>
                  <div class="people-list__text">
                    <p>Память об этом событии навсегда останется в фотографиях.
                      <br> хочу, чтобы по прошествии многих лет вы открыли свой альбом и заново прожили этот День.</p>
                  </div>
                  <div class="people-list__contact">
                    <span>Телефон:</span> +996 550 375 679</div>
                  <div class="people-list__contact">
                    <span>Email</span>: kashimir_guruwed@gmail.com</div>
                  <div class="people-list__button people-list__button_black">
                    <a class="button button_style_ghost button_color_black button_style_wide" href="#">Перейти к портфолио</a>
                  </div>
                  <div class="people-list__button people-list__button_white">
                    <a class="button button_style_ghost button_color_white button_style_wide" href="#">Перейти к портфолио</a>
                  </div>
                </div>
              </div>
              <div class="people-list__col people-list__col_right">
                <img class="people-list__photo" src="images/content/people-list/1.jpg">
              </div>
            </div>
            <div class="people-list people-list_image_right people-list_black">
              <div class="people-list__col people-list__col_left">
                <img class="people-list__photo" src="images/content/people-list/2.jpg">
              </div>
              <div class="people-list__col">
                <div class="people-list__wrapper">
                  <h2 class="people-list__name">Александра Заноздрева</h2>
                  <div class="people-list__text">
                    <p>Настроение, перенесенное через года.</p>
                    <p>Вы всегда останитесь такими же, как на фотографиях, сделанными мной. Магия вчерашнего дня на многие десятилетия вперед.</p>
                  </div>
                  <div class="people-list__contact">
                    <span>Телефон:</span> +996 550 375 679</div>
                  <div class="people-list__contact">
                    <span>Email</span>: kashimir_guruwed@gmail.com</div>
                  <div class="people-list__button people-list__button_black">
                    <a class="button button_style_ghost button_color_black button_style_wide" href="#">Перейти к портфолио</a>
                  </div>
                  <div class="people-list__button people-list__button_white">
                    <a class="button button_style_ghost button_color_white button_style_wide" href="#">Перейти к портфолио</a>
                  </div>
                </div>
              </div>
              <div class="people-list__col people-list__col_right">
                <img class="people-list__photo" src="images/content/people-list/2.jpg">
              </div>
            </div>
            <div class="people-list people-list_image_left">
              <div class="people-list__col people-list__col_left">
                <img class="people-list__photo" src="images/content/people-list/3.jpg">
              </div>
              <div class="people-list__col">
                <div class="people-list__wrapper">
                  <h2 class="people-list__name">Камчибек Забайналиев</h2>
                  <div class="people-list__text">
                    <p>Больше дела меньше слов!</p>
                  </div>
                  <div class="people-list__contact">
                    <span>Телефон:</span> +996 550 375 679</div>
                  <div class="people-list__contact">
                    <span>Email</span>: kashimir_guruwed@gmail.com</div>
                  <div class="people-list__button people-list__button_black">
                    <a class="button button_style_ghost button_color_black button_style_wide" href="#">Перейти к портфолио</a>
                  </div>
                  <div class="people-list__button people-list__button_white">
                    <a class="button button_style_ghost button_color_white button_style_wide" href="#">Перейти к портфолио</a>
                  </div>
                </div>
              </div>
              <div class="people-list__col people-list__col_right">
                <img class="people-list__photo" src="images/content/people-list/3.jpg">
              </div>
            </div>
          </section>
        </div>
        <div class="page__buffer"></div>
      </div>
      <div class="page__cover"></div>
      <%= render partial: 'shared/footer' %>
      </div>
    </div>
