<!DOCTYPE html>
<html class="modernizr_no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title>Guru Wedding</title>
    <meta name="author" content="Velichko Konstantin">
    <meta name="description" content="The template for quick start of development with Gulp, Jade and Stylus">
    <meta name="keywords" content="demo, gulp, bem, modules, sprites, svg, jade, stylus, boilerplate, frontend, project, template">
    <meta name="format-detection" content="telephone=no">
    <meta name="robots" content="noodp, noydir">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link href="https://fonts.googleapis.com/css?family=Cuprum:400,700&amp;subset=latin,cyrillic" rel="stylesheet">
    <meta property="og:title" content="Main">
    <meta property="og:url" content="http://zoxon.github.io/gulp-front/">
    <meta property="og:description" content="The template for quick start of development with Gulp, Jade and Stylus">
    <meta property="og:image" content="assets/images/content/preview.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width">
    <meta property="og:image:height" content="300">
    <meta property="twitter:description" content="The template for quick start of development with Gulp, Jade and Stylus">
    <link href="assets/images/content/preview.png" rel="image_src">
    <link href="assets/favicons/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <link type="image/png" href="assets/favicons/favicon-32x32.png" rel="icon" sizes="32x32">
    <link type="image/png" href="assets/favicons/favicon-16x16.png" rel="icon" sizes="16x16">
    <link href="assets/favicons/manifest.json" rel="manifest">
    <link href="assets/favicons/safari-pinned-tab.svg" rel="mask-icon" color="#191919">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>

  <body class="page">
    <%= yield %>
  </body>
  <%= javascript_include_tag 'application'%>
</html>
